.App {
  text-align: center;
  /* background-image: url("./Assets/background.jpg"); */
  /* background-repeat: no-repeat; */
  background-color: #0a233f;
}

.section{
  min-height: 100vh;
}

.center{
  
  /* justify-content: center; */
 
  /* background-image: url("./Assets/previewed\ \(1\).png"); */
  min-height: 100vh;
}
.zeldaLogoContainer{
  display: flex;
}

.Slide {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .zeldaScreensContinuer{
     display: none;
   
  }
  .zeldaLogoContainer{
    display: inline;
    margin-top: 50px;
  
  }
 
  
}

@media only screen and (max-width: 800px) {
 
  .zeldaLogo{
    width: 250px;
    height: 250px;
  }
}